#google-logo {
    display:block;
    margin:auto;
}

#google-search-bar-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
}
#google-search-icon {
    position:relative;
    left:35px;
    color: hsl(0, 0%, 50%);
}
#google-search-bar{
    /*display:block;
    margin:auto;*/
    width:30vw;
    height:2vw;
    border:1px solid hsl(0, 0%, 70%);
    border-radius:20px;
    padding-left:40px;
}
#google-search-bar:hover{
    box-shadow: 3px 3px 2px 2px hsl(0, 0%, 90%);
}
#google-search-button-wrapper {
    display:flex;
    justify-content:center;
    padding:10px;
}