html{
    font-family: Arial, Helvetica, sans-serif
}
#google-logo {
    display:block;
    margin:auto;
}
#google-search-bar-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:20px;
}
#google-search-icon {
    position:relative;
    left:35px;
    color: hsl(0, 0%, 50%);
}
#google-search-bar{
    width:46em; /*em is relative to the parent element's font-size, which should stay constant even as the container size shrinks */
    height:3em; /*whereas % and vw are relative to the parent element's SIZE or the size of the viewport, which are both values that will change as the container size changes */
    border:1px solid hsl(0, 0%, 70%);
    border-radius:20px;
    padding-left:40px;
}
#google-search-bar:hover{
    box-shadow: 3px 3px 2px 2px hsl(0, 0%, 90%);
}
#google-search-button-wrapper {
    display:flex;
    justify-content:center;
    align-items: center;
    padding:10px 0 15px 0;
}
.google-search-button {
    height:2.5em;
    border:none;
    font-size: 14px;
    background-color:hsl(0, 0%, 97%);
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 3px;
}
.google-search-button:hover {
    cursor:pointer;
    box-shadow: 1px 1px 2px 1px hsl(0, 0%, 80%);
}
#google-alt-languages {
    font-size: 13px;
    display:flex;
    justify-content: center;
}
#google-alt-languages a {
    text-decoration: none;
    padding: 0 3px;
}
#google-alt-languages a:hover{
    text-decoration: underline;
}