html{
    font-family: Arial, Helvetica, sans-serif;
    height:100%;
    padding:0;
    margin:0;
}
body{
    position:relative;
    height:100%;
}
/*header*/
#google-header-list {
    list-style-type: none;
    margin:11px 0 0 0;
    padding:0; /* default for <ul> is padding-left:40px; margin: 1em 0 1em 0;*/
    font-size: 14px;
    height:auto; /*set a height on the flex container to ensure align-items/align-self works*/
    display:flex;
    justify-content: space-between; /*put one half (header left/right) on each side, space between*/
    
}
.google-header-list-left {
    display:flex;
    align-items:center; /*Align-items: Set on the flex container; Align-SELF: Set on the flex item*/
    margin-left:8px;
}
.google-header-list-right {
    display:flex;
    align-items:center;
    font-size: 12px;
}
.google-header-list-right li:last-child { /*select the last <li> element in google-header-list-right*/
    padding-right:0;
}
.google-header-list-item {
    padding: 0 10px 0 10px;
}

/*select image with id of google header user icon*/
/*img[id='google-header-user-icon']{ 
    border:2px solid black;
}*/
#google-header-user-icon{
    border-radius:50%;
    width:75%;
    height:auto;
}
#google-header a {
    text-decoration: none;
}
#google-header a:hover{
    text-decoration: underline;
}
#google-header a:visited {
    color: inherit; /*prevent links from changing color once visited; simply inherit the same color the parent is using */
}

   


/*main*/
#google-main {
    margin-top:11vw;
}
#google-logo {
    display:block;
    margin:auto;
}
#google-search-bar-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:20px;
}
#google-search-icon {
    position:relative;
    left:35px;
    color: hsl(0, 0%, 50%);
}
#google-search-bar{
    width:46em; /*em is relative to the parent element's font-size, which should stay constant even as the container size shrinks */
    height:3em; /*whereas % and vw are relative to the parent element's SIZE or the size of the viewport, which are both values that will change as the container size changes */
    border:1px solid hsl(0, 0%, 70%);
    border-radius:20px;
    padding-left:40px;
}
#google-search-bar:hover{
    box-shadow: 3px 3px 2px 2px hsl(0, 0%, 90%);
}
#google-search-button-wrapper {
    display:flex;
    justify-content:center;
    align-items: center;
    padding:10px 0 15px 0;
}
.google-search-button {
    height:2.5em;
    border:none;
    font-size: 14px;
    background-color:hsl(0, 0%, 97%);
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 3px;
}
.google-search-button:hover {
    cursor:pointer;
    box-shadow: 1px 1px 2px 1px hsl(0, 0%, 80%);
}
#google-alt-languages {
    font-size: 13px;
    display:flex;
    justify-content: center;
}
#google-alt-languages a {
    text-decoration: none;
    padding: 0 3px;
}
#google-alt-languages a:hover{
    text-decoration: underline;
}
#google-alt-languages a:visited {
    color:blue;
}

/*footer*/
#google-footer {
    display:flex;
    flex-direction:column;
    width:100%;
    position: absolute;
    bottom:0;
}
#google-footer-list {
    list-style-type: none;
    padding:0;
    margin:0;
    display:grid;
    grid-template-columns: auto auto auto 1fr auto auto auto;
    grid-template-rows: 1fr;
    grid-template-areas:
        "advertising business how . privacy terms settings"
}
#google-footer-list>li:nth-of-type(1) { /*select the first <li> element whose parent is google-footer-list*/
    grid-area:advertising;
}
#google-footer-list>li:nth-of-type(2){
    grid-area: business;
}
#google-footer-list>li:nth-of-type(3){
    grid-area: how;
}
#google-footer-list>li:nth-of-type(4) {
    grid-area:privacy;
}
#google-footer-list>li:nth-of-type(5) {
    grid-area:terms;
}
#google-footer-list>li:nth-of-type(6) {
    grid-area:settings;
}
